body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.36px;
  color: #274C5B;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  margin-top: 20px;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.subtitle {
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  line-height: 1.8;
  text-transform: capitalize;
  color: var(--accent-text-color);
  margin-bottom: 15px;
}

.subtitle--white {
  color: var(--third-text-color);
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.woff2") format("woff2"), url("./fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.woff2") format("woff2"), url("./fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2"), url("./fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Bold.woff2") format("woff2"), url("./fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yellowtail";
  src: url("./fonts/Yellowtail-Regular.woff2") format("woff2"), url("./fonts/Yellowtail-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--bg-color {
  color: #F9F8F8;
}

.btn {
  font-family: "Roboto";
  display: flex;
  font-size: 19px;
  line-height: 1.68;
  background-color: var(--btn-bg);
  text-transform: capitalize;
  color: var(--secondary-text-color);
  padding: 25px 10px 25px 33px;
  border: 1px solid #EFD372;
  border-radius: 16px;
  margin-left: 0;
  transition: 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn:hover {
  background-color: var(--order-btn-active);
}

.btn::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 38px;
  height: 32px;
  margin-left: 16px;
  background-color: var(--secondary-text-color);
  background-image: url(../../images/btn-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn--accent {
  background-color: var(--secondary-text-color);
}

:root {
  --secondary-bg-color:#F9F8F8;
  --primary-text-color: #525C60;
  --secondary-text-color: #274C5B;
  --accent-text-color: #7EB693;
  --third-text-color: #ffffff;
  --btn-bg: #EFD372;
  --order-btn-active: #d2ac22;
  --background-color-secondary: #F9F8F8;
  --card-set-gap: 30px;
  --social-links-fill: #a3861c;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  font-family: "Roboto";
  font-size: 19px;
  line-height: 1.68;
  color: #274C5B;
  letter-spacing: 0.36px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cart {
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Roboto";
  font-size: 17px;
  line-height: 1.69;
  color: #274C5B;
  border: 1px solid #D4D4D4;
  border-radius: 33px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.hero-section {
  background-image: url("../images/hero.jpg");
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../images/hero@2.jpg");
  }
}

.hero-title {
  max-width: 522px;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.hero-wrapper {
  padding-top: 220px;
  padding-bottom: 220px;
}

.ads__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  place-items: center;
}

.ads__item {
  background-image: url(../../images/banan.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 665px;
  height: 375px;
  padding-left: 55px;
  padding-top: 75px;
}
.ads__item.ads__item--bg-pic {
  background-image: url(../../images/pear.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.ads__title {
  font-family: "Roboto";
  max-width: 217px;
  font-size: 40px;
  line-height: 1.3;
  color: #FFFFFF;
}
.ads__title.ads__title--blue {
  color: var(--secondary-text-color);
  max-width: 237px;
}/*# sourceMappingURL=main.css.map */