:root {
    --secondary-bg-color:#F9F8F8;
    --primary-text-color: #525C60;
    --secondary-text-color: #274C5B;
    --accent-text-color: #7EB693;
    --third-text-color: #ffffff;
    --btn-bg: #EFD372;
    --order-btn-active: #d2ac22;
    --background-color-secondary: #F9F8F8;
    --card-set-gap: 30px;
    --social-links-fill: #a3861c;
}