.about-us__wrapper{
    display: flex;
    gap: 30px;
}
.about-us__content {}

.about-us__title {

        font-weight: 700;
        font-size: 45px;
        line-height: 1.3;
        text-transform: capitalize;
    
        color: var(--secondary-text-color);
        margin-bottom: 25px;
}

.about-us__description {
    font-family: 'Open Sans';
        font-size: 18px;
        line-height: 1.8;
    
        color: var(--primary-text-color);
        margin-bottom: 55px;
}

.about-us__list {
    margin-bottom: 50px;
}

.about-us__item {
    display: flex;
    gap: 25px;
}

.about-us__title-list {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 1.4;
        letter-spacing: 0.36px;
    
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.about-us__text-list {
    font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.8;
    
        color: var(--primary-text-color);
        margin-bottom: 25px;
}
