.ads__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    place-items: center;
}

.ads__item {
    background-image: url(../../images/banan.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    width: 665px;
    height: 375px;
    padding-left: 55px;
    padding-top: 75px;


    &.ads__item--bg-pic{
    background-image: url(../../images/pear.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    }
}

.ads__link {
}

.ads__title {
    font-family: 'Roboto';
    max-width: 217px;
    font-size: 40px;
    line-height: 1.3;       
    color: #FFFFFF;
   &.ads__title--blue{
    color: var(--secondary-text-color);
    max-width: 237px;
   }
}

