.eco-fiendly {
    padding: 40px 60px;
    margin: 40px 60px 40px -60px;
    background: #FFFFFF;
        border-radius: 30px 0px 0px 30px;
}

.eco-pic{
    margin-left: -15px;
}

.eco-fliendly-wrapper{
    display: flex;
}
.eco-fiendly__title {
    margin-bottom: 5px;
}

.eco-fiendly__text {
    font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.8;
        color: var(--primary-text-color);
    margin-bottom: 10px;
}