.footer__list {
    display: grid;
    grid-template-columns: 270px 670px 335px;
    gap: 20px;
}

.footer {}

.item {}

.contact-us__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
    
    text-align: right;
    
    color: var(--secondary-text-color);
    margin-bottom: 35px;
}
.contact-us__subtitle{
font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;

    text-align: right;

    color: var(--primary-text-color);
    margin-bottom: 5px;
}
.contact-us__list {}

.contact-us__item {
    margin-bottom: 35px;
}


.email {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    
    text-align: right;
    letter-spacing: 0.36px;
    
    color: var(--primary-text-color);
    display: block;
}


.phone {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    
    text-align: right;
    letter-spacing: 0.36px;
    
    color: var(--primary-text-color);
    display: block;
}


.address {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    
    text-align: right;
    letter-spacing: 0.36px;
    
    color: var(--primary-text-color);
    display: block;
}
.footer__logo{
margin: 0 auto;
margin-bottom: 45px;
}
.footer__item {}

.footer__text {
    width: 567px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    
    text-align: center;
    
    color: var(--primary-text-color);
    margin: 0 auto;
    margin-bottom: 50px;
}

.social-media {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.social-media__item {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EFF6F1;
}

.social-media__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.utility__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
    
    
    color: #274C5B;
    margin-bottom: 20px;
}

.utility__link {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    
    
    color: var(--primary-text-color);
    margin-bottom: 25px;
}