.offer--blue {
    background-color: var(--secondary-text-color);
}
.offer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 524px;
    margin-bottom: 50px;
}
.about-us__title--color-blue {
    color: var(--third-text-color);
}
